# Kaggle Connection

In [1]:
!kaggle competitions download -c walmart-recruiting-store-sales-forecasting

Downloading walmart-recruiting-store-sales-forecasting.zip to C:\Users\alisa\coding\walmart_analysis

  0%|          | 0.00/2.70M [00:00<?, ?B/s]
 74%|#######4  | 2.00M/2.70M [00:00<00:00, 18.7MB/s]
100%|##########| 2.70M/2.70M [00:00<00:00, 22.1MB/s]

In [7]:
!unzip "walmart-recruiting-store-sales-forecasting.zip"

^C

In [6]:
!unzip "features.csv.zip"
!unzip "stores.csv"
!unzip "sampleSubmission.csv.zip"

^C
Archive:  stores.csv

  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case the central directory and zipfile comment will be found on
  the last disk(s) of this archive.
unzip:  cannot find zipfile directory in one of stores.csv or
        stores.csv.zip, and cannot find stores.csv.ZIP, period.

^C

In [14]:
!unzip "train.csv.zip"

Archive:  train.csv.zip
  inflating: train.csv

# Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlite3

In [4]:
features_df = pd.read_csv('data/features.csv')
stores_df = pd.read_csv('data/stores.csv')
sampleSubmission_df = pd.read_csv('data/sampleSubmission.csv')
train_df = pd.read_csv('data/train.csv')

In [5]:
sampleSubmission_df.head(2)

               Id  Weekly_Sales
0  1_1_2012-11-02             0
1  1_1_2012-11-09             0

In [6]:
stores_df.head(2)

   Store Type    Size
0      1    A  151315
1      2    A  202307

In [7]:
features_df.head(2)

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True

In [17]:
train_df.head(2)

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True

In [18]:
features_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 679.9+ KB